<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="gamepath" value="" />
    <add key="firstrun" value="1" />
    <add key="hash" value="" />
    <add key="gender" value="1" />
    <add key="sith" value="0" />
    <add key="dbvers" value="21" />
    <add key="skill" value="0" />
    <add key="google" value="1" />
    <add key="a_translate" value="1" />
    <add key="row_updated_from_server" value="" />
    <add key="changes" value="1" />
    <add key="backup_row" value="" />
    <add key="auth_translate" value="0" />
    <add key="translate_restrict" value="1" />
  </appSettings>
  </configuration>